---
import Layout from "../../../layouts/Layout.astro";
import { contentfulClient } from "../../../lib/contentful";
import slugify from "../../../lib/createSlug";

export async function getStaticPaths() {
	const allPosts = await contentfulClient.getEntries({
		content_type: "worksAPedido",
	});
	return allPosts.items.map((item: any) => {
		return {
			params: {
				galeria: slugify(item.fields.slug),
			},
			props: {
				data: item,
			},
		};
	});
}

const AlbumsCategorias = await contentfulClient.getEntries({
	content_type: "AlbumsCategorias",
});

const allCategory = AlbumsCategorias.items.sort((a: any, b: any) => {
	if (a.fields.slug < b.fields.slug) {
		return -1;
	}
	if (a.fields.slug > b.fields.slug) {
		return 1;
	}
	return 0;
});

const { data } = Astro.props;
---

<Layout title={data.fields.title}>
    <div
        class="md:h-screen overflow-hidden w-full bg-green-200 relative grid grid-cols-2 gap-6 justify-center items-center md:mb-12"
    >
        <div class="md:pl-4">
            <h1
                style="text-wrap: balance;"
                class="animate__animated animate__fadeIn text-green-900 max-w-3xl mx-auto text-left z-10 relative my-3 md:mt-0 md:mb-12 text-4xl md:text-7xl"
            >
                {data.fields.title}
            </h1>
            <!-- <article
                class="prose-xl px-1 max-w-full mt-6"
                set:html={documentToHtmlString(data.fields.article)}
            /> -->
        </div>
        <img
            src={`https:${data.fields.featuredImg.fields.file.url}?h=800&fm=webp&q=95`}
            class="opacity-100 md:flex hidden z-0 h-screen w-full object-cover"
            alt={data.fields.title}
        />
    </div>
    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-2 gap-4">
            {
                data.fields.imagesWorks.map((item: any) => (
                    <div class="relative">
                        <img
                            src={`https:${item.fields.file.url}?w=1200&h=1200&fm=webp&q=90`}
                            width="1600"
                            alt={data.fields.title}
                            height="1600"
                            class="z-10 relative object-cover glightbox w-full animate__animated animate__fadeIn"
                        />
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
